.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
}

.body_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

  